
.content {
    padding: 20px;
  }
  .top-bar{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Set your desired background color */
    padding: 20px 20px; /* Adjust padding as needed */
    border-radius: 40px; /* Adjust border-radius for rounded corners */
    margin: 20px; /* Adjust margin as needed */
  }

  .close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #CACACA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .close-btn:hover{
    border: 1px solid red;
  }
  .close-btn p{
    font-size: 20px;
  }
  .section {
    margin-bottom: 30px;
  }
  
  .vertical-text form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
  }
  .input-field {
    margin-top: 6px;
    background-color: #eeeeee;
    width: 100%;
    padding: 18px;
    padding-right: 80px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    color: #9d9797;
    font-size: 15px;
    font-family: 'Switzer-Light';
    text-align: left;
}

.submit-button {
  margin-top: 20px;
  background-color: #C9C9C9;
  border: 1px solid #dddddd;
  color: white;
  padding: 16px 30px;
  border-radius: 40px; 
  cursor: pointer;
  width: 100%;
}
.error{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.error-text{
  color: red;
  font-size: 12px;
  font-family: 'Switzer-Medium';
}

.submit-button:hover {
  background-color: #4E4E4E;
}

  
  .subtext {
    color: #2da950;
    font-family: 'CoveredByYourGrace-Regular';
    font-size: 30px;
    margin-bottom: -50px;
  }
  
  .heading {
    font-size: 45px;
    font-family: 'Switzer-Medium';
    text-align: center;
  }
  
  .two-columns {
    display: flex;
  }
  
  .left-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .success-img {
    height: 80%;
    width: auto;
  }
  
  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column; /* Align children vertically */
  }
  
  
  
  
  .carousel-text {
    width: 50%;
    font-size: 30px;
    font-family: 'Switzer-Medium';
    text-align: left;
    margin-bottom: 20px;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: flex-start; /* Align dots to the left */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px; /* Add margin between dots */
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #2da950;
  }
  
  .carousel-button {
    position: absolute; /* Position the button absolutely */
    bottom: 20px; /* Position the button 20px from the bottom of the parent container */
  }
  
  
  
  
  
  
  
  .rounded-card {
    display: flex;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .left-side {
    flex: 1;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rounded-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Add styles for your accordion component here */
  