.rounded-button {
    border: none;
    border-radius: 20px; /* Adjust border-radius for rounded corners */
    background-color: #007bff; /* Set your desired button background color */
    color: white; /* Set your desired button text color */
    padding: 10px 20px; /* Adjust padding as needed */
    margin-left: 10px; /* Adjust margin between buttons */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
  .rounded-button:hover {
    background-color: #0056b3; /* Set your desired button hover background color */
  }
  