.content {
  padding: 20px;
}

.section {
  margin-bottom: 30px;
}

.vertical-text {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.subtext {
  color: #2da950;
  font-family: 'CoveredByYourGrace-Regular';
  font-size: 30px;
  margin-bottom: -50px;
}

.heading {
  font-size: 45px;
  font-family: 'Switzer-Medium';
  text-align: center;
}

.two-columns {
  display: flex;
  flex-wrap: wrap; 
}

.left-column {
  flex: 1;
  margin-right: 20px;
}

.carousel-image {
  max-width: 100%; 
  height: auto; 
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column; 
  position: relative; 
  height: auto;
}


.carousel-text {
  width: 50%;
  font-size: 30px;
  font-family: 'Switzer-Medium';
  text-align: left;
  margin-bottom: 20px;
}

.carousel-dots {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 20px; 
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px; 
  cursor: pointer;
}

.dot.active {
  background-color: #2da950;
}

.carousel-button {
}

@media only screen and (max-width: 768px) {
  .two-columns {
    flex-direction: column; 
  }

  .left-column {
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .right-column {
    margin-bottom: 20px; 
  }.carousel-text {
    width: 100%;
    font-size: 20px;
  }
  
}