.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;

  padding: 20px 20px;
  border-radius: 20px;
  margin: 20px;
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Switzer-Light";
  font-size: 15px;
}

.logo-img {
  height: 20px;
  width: auto;
}

.buttons {
  display: flex;
}

.btn-text {
  text-decoration: underline dotted;
  font-family: "Switzer-Light";
  font-size: 15px;
}

.rounded-button {
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
}

.rounded-button:hover {
  background-color: #0056b3;
}
a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}